<br>
<hr>
<br>
<div class="donate" align="right">
	<p>Did you like of something here? How about helping me buy some video game?<br>
		I'll appreciate it!</p>
	<p><a href="https://www.buymeacoffee.com/alfonsomozkoh"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a Beer&emoji=🍺&slug=alfonsomozkoh&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"></a></p>
	<p>I will also leave a link to a platform that allows you to earn bitcoins<br> 
		with small ads on your website.</p>
	<a title="Earn Bitcoin with smart ads" href="https://a-ads.com?partner=1416871"><img src="https://i.ibb.co/m8TJg3p/simple-v1.gif" alt="Advertise with Anonymous Ads" /></a>
</div>
